body 
{
    background-color: gold;
}

#updateScore
{
    font-size: 40px;
    font-family: Oswald, Sans Serif;
    margin-left: 5px;
}

#updateTime
{
    font-size: 40px;
    font-family: Oswald, Sans Serif;
    float:right;
    margin-right: 5px;
}

#tbd
{
    color: steelblue;
}